


.HeaderContainer{

    height: 80px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;

    .SearchDiv{
        position: relative;
        margin-left: 15px;

        input{
            outline: none;
            background-color: #1F1E24;
            border: none;
            width: 300px;
            height: 45px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            font-family: var(--ArabicLinksFont);
            color: #f3f3f3;
            font-size: 14px;
            padding-right: 10px;
            padding-left: 40px;
            text-align: right;
        }

        input::placeholder{
            font-family: var(--ArabicLinksFont);
            color: #6D6B78;
            font-size: 12px;
            text-align: left;
        }

        .SearchIcon{
            color: white;
            font-size: 20px;
            position: absolute;
            left: 13px;
            top: 12px;
            cursor: var(--PointerCursor);
        }

    }



    .LeftHeader{
        margin-right: 15px;
        display: flex;
        align-items: center;
        gap: 25px;

        img{
            border: 3px dashed #1F1E24;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 5px;
            cursor: var(--PointerCursor);
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;


            }

            
            img:hover{
                border: 3px dashed #FFC831;
            }

            .NotificationArea{
                position: relative;


                @keyframes TitleAnim {
                    from{
                        transform: scale(.8);
                        -webkit-transform: scale(.8);
                        -moz-transform: scale(.8);
                        -ms-transform: scale(.8);
                        -o-transform: scale(.8);
                    }to{
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }


                .AreaTitle{
                    position: absolute;
                    font-family: var(--ArabicLinksFont);
                    color: white;
                    background-color: #1A1922;
                    padding: 7px 13px;
                    font-size: 11px;
                    bottom: -30px;
                    left: -12px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    animation: .1s TitleAnim linear forwards;
                    -webkit-animation: .1s TitleAnim linear forwards;
                    display: none;
                }


                &:hover .AreaTitle{
                    display: block;
                }

                .PuffContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 90%;
                }
                .NotificationUL{
                    position: absolute;
                    background-color: #1A1922;
                    right: -3px;
                    width: 450px;
                    height: 300px;
                    top: 50px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    border-top-right-radius: 0px;
                    z-index: 3;

                    .arrow-up {
                        width: 0; 
                        height: 0; 
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent; 
                        border-bottom: 20px solid  #1A1922;
                        position: absolute;
                        top: -20px;
                        right: 0;
                      }
                }


                .NotificationIcon{
                    color: #3f4250;
                    font-size: 25px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                    cursor: var(--PointerCursor);
                }

                .NotificationIcon:hover{
                    color: #FFC831;
                }
    
                .NotificationPoint{
                    width: 7px;
                    height: 7px;
                    background-color: #FFC831;
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    top: -2px;
                    right: -4px;
                }



            }


            .MoneyArea{
                background-color: #1F1E24;
                display: flex;
                align-items: center;
                padding: 15px 25px;
                gap: 20px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
          
                span{
                    display: flex;
                    align-items: center;
                    color: white;
                    gap: 5px;
                    font-family: var(--ArabicLinksFont);
                    font-size: 13px;

                    .CoinsIcon{
                        color: #FFB431;
                        font-size: 18px;
                    }

                    .GeezIcon{
                        color: rgb(0, 255, 213);
                        font-size: 16px;
                    }
                }


                span:nth-child(2){
                    font-weight: 500;
                }
            }


            .MailerArea{

                position: relative;


                @keyframes TitleAnim {
                    from{
                        transform: scale(.8);
                        -webkit-transform: scale(.8);
                        -moz-transform: scale(.8);
                        -ms-transform: scale(.8);
                        -o-transform: scale(.8);
                    }to{
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }


                .AreaTitle{
                    position: absolute;
                    font-family: var(--ArabicLinksFont);
                    color: white;
                    background-color: #1A1922;
                    padding: 7px 13px;
                    font-size: 11px;
                    bottom: -30px;
                    left: -14px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    animation: .1s TitleAnim linear forwards;
                    -webkit-animation: .1s TitleAnim linear forwards;
                    display: none;
                }


                &:hover .AreaTitle{
                    display: block;
                }

                .NotificationPoint{
                    width: 7px;
                    height: 7px;
                    background-color: #FFC831;
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    top: -2px;
                    right: -10px;
                }

                .MailerIcon{
                    color: #3f4250;
                    font-size: 25px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                    cursor: var(--PointerCursor);
                }

                .MailerIcon:hover{
                    color: #FFC831;
                }
             
            }

            .ApplicationsArea{

                position: relative;


                @keyframes TitleAnim {
                    from{
                        transform: scale(.8);
                        -webkit-transform: scale(.8);
                        -moz-transform: scale(.8);
                        -ms-transform: scale(.8);
                        -o-transform: scale(.8);
                    }to{
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }


                .AreaTitle{
                    position: absolute;
                    font-family: var(--ArabicLinksFont);
                    color: white;
                    background-color: #1A1922;
                    padding: 7px 13px;
                    font-size: 11px;
                    bottom: -30px;
                    left: -21px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    animation: .1s TitleAnim linear forwards;
                    -webkit-animation: .1s TitleAnim linear forwards;
                    display: none;
                }


                &:hover .AreaTitle{
                    display: block;
                }

                .NotificationPoint{
                    width: 7px;
                    height: 7px;
                    background-color: #FFC831;
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    top: -2px;
                    right: -10px;
                }

                .ApplicationIcon{
                    color: #3f4250;
                    font-size: 25px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                    cursor: var(--PointerCursor);
                }

                .ApplicationIcon:hover{
                    color: #FFC831;
                }
             
            }


            .InvitationArea{

                position: relative;


                @keyframes TitleAnim {
                    from{
                        transform: scale(.8);
                        -webkit-transform: scale(.8);
                        -moz-transform: scale(.8);
                        -ms-transform: scale(.8);
                        -o-transform: scale(.8);
                    }to{
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }


                .AreaTitle{
                    position: absolute;
                    font-family: var(--ArabicLinksFont);
                    color: white;
                    background-color: #1A1922;
                    padding: 7px 13px;
                    font-size: 11px;
                    bottom: -30px;
                    left: -18px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    animation: .1s TitleAnim linear forwards;
                    -webkit-animation: .1s TitleAnim linear forwards;
                    display: none;
                }


                &:hover .AreaTitle{
                    display: block;
                }

                .NotificationPoint{
                    width: 7px;
                    height: 7px;
                    background-color: #FFC831;
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    top: -2px;
                    right: -10px;
                }

                .InvitationIcon{
                    color: #3f4250;
                    font-size: 25px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                    cursor: var(--PointerCursor);
                }

                .InvitationIcon:hover{
                    color: #FFC831;
                }
             
            }

            .ProfileArea{
                position: relative;



                @keyframes ProfileAnime {
                    from{
                        transform: translateY(-15px);
                        -webkit-transform: translateY(-15px);
                        -moz-transform: translateY(-15px);
                        -ms-transform: translateY(-15px);
                        -o-transform: translateY(-15px);
                    }to{
                        transform: translateY(0px);
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        -ms-transform: translateY(0px);
                        -o-transform: translateY(0px);
                    }
                }




                .ProfileUL{
                    position: absolute;
                    background-color: #1A1922;
                    display: flex;
                    flex-direction: column;
                    width: 270px;
                    left: -200px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    animation: .2s ProfileAnime ease-in forwards;
                    -webkit-animation: .2s ProfileAnime ease-in forwards;
                    z-index: 3;

                    a{
                        color: #6D6B78;
                        font-family: var(--ArabicLinksFont);
                        font-size: 15px;
                        padding: 25px;
                        width: 100%;
                        justify-content: flex-end;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        font-weight: 500;
                        transition: .3s all linear;
                        -webkit-transition: .3s all linear;
                        -moz-transition: .3s all linear;
                        -ms-transition: .3s all linear;
                        -o-transition: .3s all linear;
                    }

                    a:nth-child(1){
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    a:nth-child(6){
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }


                    a:nth-child(2){
                        color: #FFC831;
                    }


                    a:hover{
                        background-color: #201E2B;
                        color: white;
                    }

                    .ProfileIcons{
                        font-size: 18px;

                    }

                    #CrownIcon{
                        color: #FFC831;
                    }


                    

                }
            }


    }

}