

footer{
    padding-bottom: 81px;
    margin-top: 50px;

    .FirstOfFooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1A1922;
        height: 72px;
    }


    .RightFirstFooter{
        padding: 10px 10px 10px 15px;

        p{
            font-family: var(--ArabicLinksFont);
            color: gray;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 13px;
        }
    }


    .LeftFirstFooter{

        display: flex;
        gap: 20px;
  
        padding: 10px;

        .FooterIcon{
            color: gray;
            background-color: #15141B;
            width: 45px;
            height: 45px;
            padding: 10px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;

            &:hover{
                color: var(--MainColor);
            }
        }
    }


    .SecondOfFooter{
        height: 40px;
        background-color: #0D0C10;
    }
    
    

}