

@keyframes FullWidthAnim {
    from{
        width: 80px;
    }to{
        width: 280px;
    }
}



@keyframes ToggledNavAnim {
    from{
        width: 280px;
    }to{
        width: 80px;
    }
}








// Not Toggled Nav (Full Width)


.NavbarContainer{
    animation: .3s linear FullWidthAnim forwards;
    -webkit-animation: .3s linear FullWidthAnim forwards;
    white-space: nowrap;
    

    
}

.NavbarContainer{
    background-color: #1A1922;
    width: 280px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    

    .NavbarLineWide{
        background-color: #1D202B;
        width: 80%;
        height: 2px;
        margin: 10px auto 5px auto;
    }

    .TopNavbar{
        height: 80px;
      
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    
        .BarsIcon{
            color: #504F56;
            font-size: 25px;
            cursor: var(--PointerCursor);
            justify-self: flex-end;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
        }
    
        .BarsIcon:hover{
            color: #FFC831;
        }
    
        .LineTopNav{
            height: 50%;
            width: 2.5px;
            background-color: #1D202B;
        }
    
    
    }
    
    
    
    .NavbarLinks{
        display: flex;
        flex-direction: column;
    
    
        a{
            color: #6D6B78;
            font-family: var(--ArabicLinksFont);
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 600;
            padding: 20px 20px 20px 45px;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
            position: relative;
            white-space: nowrap;
        }
    
        a::before{
            position: absolute;
            content: '';
            background-color: #FFC831;
            transition: .3s all linear;
            width: 0px;
            height: 100%;
            left: -39px;
            clip-path: ellipse(47% 37% at 48% 51%);
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
        }
    
    
        a:hover::before{
            width: 50px;
        }
    
        a:hover{
            background-color: #201E2B;
            color: white;
        }
    
        .NavbarIcon{
            font-size: 22px;
        }
    
        .ActiveLink{
            background-color: #201E2B;
            color: white;
            .NavbarIcon{
                color: #FFC831;
            }
        }
    
        .ActiveLink::before{
            position: absolute;
            content: '';
            background-color: #FFC831;
            transition: .3s all linear;
            width: 50px;
            height: 100%;
            left: -39px;
            clip-path: ellipse(47% 37% at 48% 51%);
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
        }
    
    }
    
    
    
    
    .MyTeamsNavbar{
    
        .BtnMyTeam{
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;

            .SecondBtnDiv{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 25px;
            }
            button{
                background-color: transparent;
                color: #6D6B78;
                font-family: var(--ArabicLinksFont);
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 600;
                padding: 20px 20px 20px 45px;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            
    
            .MyTeamsIcon{
                color: #504F56;
                font-size: 20px;
                cursor: var(--PointerCursor);
                justify-self: flex-end;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .SpanOfTeamsNums{
                background-color: #2C2920;
                color: #FFC831;
                padding: 2px 10px;
                font-family: var(--EnglishFont);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }   
    
    
    
    
            .DownMenuIcon{
                font-size: 20px;
                color: #afafaf;
                cursor: var(--PointerCursor);
            }
    
            .DownMenuIcon:hover{
                color: #FFC831;
            }
    
            .CircleUp{
                color: #FFC831;
            }
        }
    
        .BtnMyTeam:hover, .BtnMyTeam:focus{
    
            button{
                color: white;
            }
    
            .MyTeamsIcon{
                color: white;
            }
        }
    
    
        @keyframes TeamsDown {
    
            from{
                height: 0;
            }to{
                height: 185px;
            }
            
        }
    
    
        @keyframes TeamsUp {
    
            from{
                height: 185px;
         
            }to{
                height: 0;
            }
            
        }
    
    
        .TeamsDivUp{
            animation: .3s TeamsUp ease-in forwards;
            -webkit-animation: .3s TeamsUp ease-in forwards;
    }
    
    
    
        .TeamsDivUp{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 0;
            
    
            .ShowMoreLink{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-size: 11px;
                font-weight: 600;
                margin-top: 15px;
                text-align: center;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .ShowMoreLink:hover{
                color: white;
            }
    
            .TeamDiv{
    
                :hover #SpanTeam{
                    transition: .3s all linear;
                    color: white;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
                
                a{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 20px 10px 45px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
    
    
    
    
                span{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-weight: 500;
                font-size: 15px;
                }
    
                img{
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                    background-color: #FFC831;
                }
            }
    
            
        }
    
    
        .TeamsDiv{
            animation: .3s TeamsDown ease-in forwards;
            -webkit-animation: .3s TeamsDown ease-in forwards;
        }
    
    
        .TeamsDiv{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 0;
            
    
            .ShowMoreLink{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-size: 11px;
                font-weight: 600;
                margin-top: 15px;
                text-align: center;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .ShowMoreLink:hover{
                color: white;
            }
    
            .TeamDiv{
    
                :hover #SpanTeam{
                    transition: .3s all linear;
                    color: white;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
                
                a{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 20px 10px 45px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
    
    
    
    
                span{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-weight: 500;
                font-size: 15px;
                }
    
                img{
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                    background-color: #FFC831;
                }
            }
    
            
        }
    
    
    }
    
    
    
    
    
    .MyClubNavbar{
    
        .BtnMyClub{
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;

            .SecondBtnDiv{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 25px;
            }


            button{
                background-color: transparent;
                color: #6D6B78;
                font-family: var(--ArabicLinksFont);
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 600;
                padding: 20px 20px 20px 45px;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            
    
            .MyClubIcon{
                color: #504F56;
                font-size: 20px;
                cursor: var(--PointerCursor);
                justify-self: flex-end;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .SpanOfClubNums{
                background-color: #2C2920;
                color: #FFC831;
                padding: 2px 10px;
                font-family: var(--EnglishFont);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;

            }   
    
    
    
    
            .DownMenuIcon{
                font-size: 20px;
                color: #afafaf;
                cursor: var(--PointerCursor);
            }
    
            .DownMenuIcon:hover{
                color: #FFC831;
            }
    
            .CircleUp{
                color: #FFC831;
            }
        }
    
        .BtnMyClub:hover, .BtnMyClub:focus{
    
            button{
                color: white;
            }
    
            .MyClubIcon{
                color: white;
            }
        }
    
    
        @keyframes ClubsDown {
    
            from{
                height: 0;
            }to{
                height: 185px;
            }
            
        }
    
    
        @keyframes ClubsUp {
    
            from{
                height: 185px;
         
            }to{
                height: 0;
            }
            
        }
    
    
        .ClubsDivUp{
            animation: .3s ClubsUp ease-in forwards;
            -webkit-animation: .3s ClubsUp ease-in forwards;
    }
    
    
    
        .ClubsDivUp{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 0;
            
    
            .ShowMoreLink{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-size: 11px;
                font-weight: 600;
                margin-top: 15px;
                text-align: center;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .ShowMoreLink:hover{
                color: white;
            }
    
            .ClubDiv{
    
                :hover #SpanTeam{
                    transition: .3s all linear;
                    color: white;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
                
                a{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 20px 10px 45px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
    
    
    
    
                span{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-weight: 500;
                font-size: 15px;
                }
    
                img{
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                    background-color: #FFC831;
                }
            }
    
            
        }
    
    
        .ClubsDiv{
            animation: .3s ClubsDown ease-in forwards;
            -webkit-animation: .3s ClubsDown ease-in forwards;
        }
    
    
        .ClubsDiv{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 0;
            
    
            .ShowMoreLink{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-size: 11px;
                font-weight: 600;
                margin-top: 15px;
                text-align: center;
                transition: .3s all linear;
                -webkit-transition: .3s all linear;
                -moz-transition: .3s all linear;
                -ms-transition: .3s all linear;
                -o-transition: .3s all linear;
            }
    
            .ShowMoreLink:hover{
                color: white;
            }
    
            .ClubDiv{
    
                :hover #SpanTeam{
                    transition: .3s all linear;
                    color: white;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
                
                a{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 20px 10px 45px;
                    transition: .3s all linear;
                    -webkit-transition: .3s all linear;
                    -moz-transition: .3s all linear;
                    -ms-transition: .3s all linear;
                    -o-transition: .3s all linear;
                }
    
    
    
    
                span{
                font-family: var(--ArabicLinksFont);
                color: #6D6B78;
                font-weight: 500;
                font-size: 15px;
                }
    
                img{
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                    background-color: #FFC831;
                }
            }
    
            
        }
    
    
    }


    .OpenToggle{
        display: none;
    }


}



.NavbarContainer::-webkit-scrollbar {
    width: 4px;
    
}

.NavbarContainer::-webkit-scrollbar-track {
    background-color: #1A1922;
  }


.NavbarContainer::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    visibility: hidden;
}


.NavbarContainer:hover::-webkit-scrollbar-thumb{
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
    visibility: visible;
}











// Toggled Nav (Just Icons)


.NavbarContainer2{
    animation: .3s linear ToggledNavAnim forwards;
    -webkit-animation: .3s linear ToggledNavAnim forwards;

}

.NavbarContainer2{
    background-color: #1A1922;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    

    .NavbarLineWide{
        display: none;
    }

    

    .TopNavbar{
        height: 100px;
        padding-top: 25px;

        .BarsIcon{
            display: none;
        }
    }
    
    
    
    .NavbarLinks{
        display: flex;
        flex-direction: column;
        
    
        a{
            color: #6D6B78;
            font-family: var(--ArabicLinksFont);
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 600;
            padding: 20px 20px 20px 27px;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
            position: relative;
        }
    
        a::before{
            position: absolute;
            content: '';
            background-color: #FFC831;
            transition: .3s all linear;
            width: 0px;
            height: 100%;
            left: -39px;
            clip-path: ellipse(47% 37% at 48% 51%);
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
        }
    
    
        a:hover::before{
            width: 50px;
        }
    
        a:hover{
            background-color: #201E2B;
            color: white;
        }
    
        .NavbarIcon{
            font-size: 22px;
        }
    
        .ActiveLink{
            background-color: #201E2B;
            color: white;
            .NavbarIcon{
                color: #FFC831;
            }
        }
    
        .ActiveLink::before{
            position: absolute;
            content: '';
            background-color: #FFC831;
            transition: .3s all linear;
            width: 50px;
            height: 100%;
            left: -39px;
            clip-path: ellipse(47% 37% at 48% 51%);
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
        }


        a span{
            display: none;
        }
    
    }
    
    
    
    
    .MyTeamsNavbar{
        display: none;
    }
    
    
    
    
    
    .MyClubNavbar{
        display: none;
    }


    .OpenToggle{
        align-self: center;
        margin-top: 50px;

        .SecondBarsIcon{
            cursor: var(--PointerCursor);
            color: #6D6B78;
            font-size: 25px;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;
}

        .SecondBarsIcon:hover{
            color: white;
        }


    }

    
}



.NavbarContainer2::-webkit-scrollbar {
    width: 4px;
    
}

.NavbarContainer2::-webkit-scrollbar-track {
    background-color: #1A1922;
  }


.NavbarContainer2::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    visibility: hidden;
}


.NavbarContainer2:hover::-webkit-scrollbar-thumb{
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
    visibility: visible;
}


