


@use './Header/Header';
@use './Home/Home';
@use './Navbar/Navbar';
@use './InnerHome/InnerHome';
@use './Timeline/Timeline';
@use './ProfileMessage/ProfileMessage';
@use './CardCarousel/CardCarousel';
@use './Footer/Footer';




@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');




:root{
    --EnglishFont: 'Kanit', sans-serif;
    --MainColor: #FFB431;
    --ArabicLinksFont: 'Alexandria', sans-serif;
    --PointerCursor: url('/cursor.cur'), pointer;
    --ArabicTitlesFont: 'Lemonada', cursive;
    --SecondEnglish: 'Rubik', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    cursor: url('/cur.png'), default;
    overflow-x: hidden;
}

body a{
    outline: none;
    text-decoration: none;
}

body button{
    outline: none;
    border: none;
    background-color: var(--MainColor);
    font-family: var(--ArabicLinksFont);
    color: white;
    cursor: pointer;
}


body::-webkit-scrollbar {
    width: 8px;
    
}

body::-webkit-scrollbar-track {
    background-color: black;
  }


body::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;

}


body a, body button{
    cursor: var(--PointerCursor);
}


.NotFoundContainer{
 
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;


    .NotVideo{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-color: black;
        video{
            width: 100%;
            height: 100%;
        }
    }

    .NotFoundBlack{
        position: absolute;
        background-color: black;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: .5;
    }

    .ShowedNotFound{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        background-color: transparent;
        justify-content: center;

        h1{
            color: var(--MainColor);
            font-family: var(--ArabicTitlesFont);
            text-align: center;
            text-shadow: 0px 0px 15px black;
        }
        

        .ImageLink{
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }



        a{
            font-family: var(--ArabicLinksFont);
            color: #ffe9a2;
            display: flex;
            align-items: center;
            gap: 5px;
            background-image: url('/btn.png');
            height: 48px;
            width: 192px;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 12px;
            justify-content: center;
        }

        .HomeIcon{
            font-size: 16px;
        }
    }
}


.AuthContainer{
    height: 100vh;
    background-color: #15141B;
    overflow: hidden;
    display: flex;
    
    
}

.RestBody{
    flex-shrink: 100;
    width: 100%;
    overflow: hidden;
}

.InnerRestBody{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;

}

.ChildrenDiv{

    width: 100%;
    overflow-y: scroll;
}


.ChildrenDiv::-webkit-scrollbar {
    width: 4px;
    
}

.ChildrenDiv::-webkit-scrollbar-track {
    background-color: #1A1922;
  }


.ChildrenDiv::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    visibility: hidden;
}


.ChildrenDiv:hover::-webkit-scrollbar-thumb{
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
    visibility: visible;
}


.LeadboardAd{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}


.Skyad{
    padding: 20px 20px 0px 0px;
}



// Line Tournament Css

.TourDiv{
            

    a{
        background-color: #0D0C10;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #1A1922;

        @keyframes OverView {
            from{
                right: -170px;
            }to{
                right: 0;
            }
        }


        @keyframes BackView {
            from{
                right: 0;
                
            }to{
                right: -170px;
            }
        }

        .TourOverView{
            width: 170px;
            align-items: flex-end;
            padding-right: 25px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            background-color: var(--MainColor);
            position: absolute;
            right: -170px;
            animation: .3s ease-in BackView forwards;
            -webkit-animation: .3s ease-in BackView forwards;

            p{
                margin: 0;
                font-family: var(--ArabicLinksFont);
                font-weight: 700;
                color: #15141B;
                font-size: 14px; 
                display: flex;
                align-items: center;
                gap: 5px;


            }

            span{
                font-family: var(--ArabicLinksFont);
                color: #15141B;
                font-size: 12px;
                font-weight: 600;
            }



        }


        &:hover .TourOverView{
            animation: .3s ease-in OverView forwards;
            -webkit-animation: .3s ease-in OverView forwards;
        }


        
    }


    .RightTour{
        display: flex;
        align-items: center;
        gap: 25px;
        
        .TourImage{
            width: 70px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .FirstTour{
            display: flex;
            gap: 15px;
            align-items: center;
           

            img{
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

            .InnerFirstTour{
                display: flex;
                flex-direction: column;
                gap: 9px;
            }

            p{
                margin: 0;
                font-family: var(--ArabicLinksFont);
                color: white;
                font-weight: 600;
                font-size: 18px;
            }
            
            .TourTags{

                display: flex;
                gap: 15px;

                span{
                    font-family: var(--SecondEnglish);
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 13px;
                    background-color: #242329;
                    padding: 4px 8px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    color: rgb(255, 255, 255);



                    

                    .TourIcon{
                        font-size: 16px;

                    }

                    .CoinsIcon{
                        color: #FFC831;
                    }


                }


                


                span:nth-child(1){
                    background-color: #FFC831;
                    color: #0D0C10;
                }
            }

        }

    }





    .LeftTour{
        display: flex;
        align-items: center;
        height: 100%;

        .TourLineHeight{
            height: 80%;
            width: 1px;
            background-color: #1A1922;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
      
        }



        .SecondTour{
            width: 220px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin: 0px 20px;

            .TopSecond{
                display: flex;
                justify-content: space-between;
                
                span{
                    font-family: var(--ArabicLinksFont);
                    color: var(--MainColor);
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                }

                span:nth-child(1){
                    font-size: 15px;
                }
                
                span:nth-child(2){
                    font-size: 13px;
                    color: #01D387;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }

                span p{
                    width: 7px;
                    height: 7px;
                    background-color: #01D387;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
}
            }

            .BottomSecond{
                background-color: #15141B;
                width: 80%;
                height: 4px;
                align-self: center;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;

                .BotSecondBar{
                    background-color: var(--MainColor);
                    width: 80%;
                    height: 100%;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;

                }
            }
        }


        .ThirdTour{
            width: 150px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            align-items: center;
            justify-content: center;
            margin-left: 5px;

            p{
                margin: 0;
                font-family: var(--ArabicLinksFont);
                font-weight: 700;
                color: var(--MainColor);
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 5px;

                .CoinsIcon{
                    font-size: 20px;
                }
            }

            span{
                font-family: var(--ArabicLinksFont);
                color: rgb(206, 206, 206);
                font-size: 12px;
                font-weight: 600;
            }
        }


        .FourthTour{
            @extend .ThirdTour;
            width: 170px;
            align-items: flex-end;
            border-left: 1px solid #1A1922;
            padding-right: 25px;


            p{
                font-size: 14px;    
            }

        }
    }






    
}


.TourDiv a:hover #TourName{
    color: var(--MainColor);
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
}










